
node_modules

.git
.gitignore

.env
.env.*
!.env.example

*.sqlite
*.sqlite3
*.db

npm-debug.log
*.log

.vscode
.idea
.DS_Store

*.md

Dockerfile
docker-compose.yml
.dockerignore

LICENSE
data/queue-data